body{
    background-image: url("../images/bg.jpg");
    text-align: center;
    color: white;
}

.container{
    width: 60%;
    float: right;
}

.btn-warning{
    color: white;
}

img{
    width: 128px;
    height: 128px;
}
.character{
    border: 1px solid white;
    padding: 0;
    margin: 10px;
    display: block;
}