body{
    background-image: url("../images/bg.jpg");
    text-align: center;
    color: white;
}
.container{
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(211, 211 ,211, 0.5)
}
.characterSection{
    margin: 0 auto;
}
.btn-warning{
    color: white;
}

img{
    width: 128px;
    height: 128px;
}
.character{
    width: 256px;
    height: 256px;
    border: 1px solid white;
    margin: 0 auto;
}
div{
    padding: 3px;
}